.ls {
  background: #191919;
  color: white;
  height: 75vh;
}

.ls-top {
  padding: 15px;
}

.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-nav .logo {
  max-width: 120px;
}

.ls-nav .menu img {
  max-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.ls-search {
  background-color: #191919;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  margin-top: 1.25rem;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 11px;
}

.ls-search input::placeholder {
  color: #c8c8c8;
}

.ls-list {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
}

.friends img {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.friends {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.2s ease;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends span {
  color: #9f9f9f;
  font-size: 11px;
  transition: 0.4s all ease;
}

.friends:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 18px 36px -12px inset,
    rgba(0, 0, 0, 0.15) 0px 18px 36px -12px inset;
}

.friends:hover span {
  color: white;
}

.ls-nav .menu {
  position: relative;
  padding: 10px 0px;
}

.menu .sub-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  color: #191919;
  display: none;
}

.sub-menu hr {
  border: none;
  height: 1px;
  background: #a4a4a4;
  margin: 8px 0px;
}

.sub-menu p {
  cursor: pointer;
  font-size: 0.875rem;
}

.menu:hover .sub-menu {
  display: block;
}

.friends.border img {
  border: 3px solid #f97300;
}

.friends.border div span {
  color: #f97300;
}

@media (max-width: 900px) {
  .ls {
    width: 100%;
  }
}
